@model OperacionSingleViewModel
@{
    ViewData["Action"] = "Detalle";
    ViewData["IdOperacion"] = Model.IdOperacion;
}
<div class="card">
    <div class="card-header">
        <div class="card-title">
            <h3 class="fw-bolder mb-0">Datos Básicos</h3>
        </div>
        <div class="card-toolbar">
            <a asp-controller="Operacion" asp-action="Index" class="btn btn-sm btn-flex btn-light btn-active-primary me-2">
                <i class="las la-arrow-left fs-3"></i> Regresar
            </a>
        </div>
    </div>
    <div class="card-body pt-5">
        <div class="card-title">
            <h3 class="fw-bolder mb-0">Datos Operación - Evaluación</h3>
        </div>
        <br />
        <input type="hidden" asp-for="IdOperacion" />
        <div class="row g-9 mb-7">
            <div class="col-md-4 offset-8 fv-row">
                <label class="fs-6 fw-bold mb-2">Estado Operación</label>
                <p class="form-control-static">@Model.NombreEstado</p>
            </div>
        </div>
        <div class="row g-9 mb-7">

            <div class="col-md-4 fv-row">
                <label class="fs-6 fw-bold mb-2">Nro Operación</label>
                <p class="form-control-static">@Model.nNroOperacion</p>
            </div>

            <div class="col-md-4 fv-row">
                <label class="fs-6 fw-bold mb-2">Girador</label>
                <p class="form-control-static">@Model.RazonSocialGirador</p>
            </div>
            <div class="col-md-4 fv-row">
                <label class="fs-6 fw-bold mb-2">Aceptante</label>
                <p class="form-control-static">@Model.RazonSocialAdquiriente</p>
            </div>
            @*<div class="col-md-4 fv-row">
            <label class="fs-6 fw-bold mb-2">Inversionista</label>
            <p class="form-control-static">@Model.NombreInversionista</p>
            </div>*@
           @* <div class="col-md-4 fv-row">
                <label class="fs-6 fw-bold mb-2">Categoría</label>
                <p class="form-control-static">@Model.Categoria</p>
            </div>*@
        </div>
        @*<div class="row g-9 mb-7">
            <div class="col-md-4 fv-row">
                <label class="fs-6 fw-bold mb-2">Dirección Girador</label>
                <p class="form-control-static">@Model.DireccionGirador</p>
            </div>
            <div class="col-md-4 fv-row">
                <label class="fs-6 fw-bold mb-2">Dirección Adquirente</label>
                <p class="form-control-static">@Model.DireccionAdquiriente</p>
            </div>
            <div class="col-md-4 fv-row">
                <label class="fs-6 fw-bold mb-2">Motivo de Transacción</label>
                <p class="form-control-static">@Model.MotivoTransaccion</p>
            </div>
            <div class="col-md-12 fv-row">
                <label class="fs-6 fw-bold mb-2">Sustento Comercial</label>
                <p class="form-control-static">@Model.SustentoComercial</p>
            </div>
        </div>*@
    </div>
    <div class="card-body pt-5">
        <div class="card-title">
            <h3 class="fw-bolder mb-0">Datos Operación - Financiamiento</h3>
        </div>
        <br />
        <div class="row g-9 mb-7">
            <div class="col-md-4 fv-row">
                <label class="fs-6 fw-bold mb-2">% Financiamiento</label>
                <p class="form-control-static">@Model.PorcentajeFinanciamiento</p>
            </div>
            <div class="col-md-4 fv-row">
                <label class="fs-6 fw-bold mb-2">Monto total Operación</label>
                <p class="form-control-static">@Model.MontoOperacion</p>
            </div>
            <div class="col-md-4 fv-row">
                <label class="fs-6 fw-bold mb-2">% Comisión</label>
                <p class="form-control-static">@Model.DescCobranza</p>
            </div>
        </div>
        <div class="row g-9 mb-7">
            <div class="col-md-4 fv-row">
                <label class="fs-6 fw-bold mb-2">Moneda</label>
                <p class="form-control-static">@Model.Moneda</p>
            </div>


            <div class="col-md-4 fv-row">
                <label class="fs-6 fw-bold mb-2">Tasa Moratoria</label>
                <p class="form-control-static">@Model.InteresMoratorio</p>
            </div>

            @*<div class="col-md-4 fv-row">
            <label class="fs-6 fw-bold mb-2">Tasa Moratoria</label>
            <p class="form-control-static">@Model.InteresMoratorio</p>
            </div>*@
            @*<div class="col-md-4 fv-row">
            <label class="fs-6 fw-bold mb-2">% Retención</label>
            <p class="form-control-static">@Model.PorcentajeRetencion</p>
            </div>*@
            <div class="col-md-4 fv-row">
                <label class="fs-6 fw-bold mb-2">TEM</label>
                <p class="form-control-static">@Model.TEM</p>
            </div>
        </div>
        <div class="row g-9 mb-7">

            <div class="col-md-4 fv-row">
                <label class="fs-6 fw-bold mb-2">Tipo de Fondo</label>
                <p class="form-control-static">@Model.Categoria</p>
            </div>
           @* <div class="col-md-4 fv-row">
                <label class="fs-6 fw-bold mb-2">Plazo</label>
                <p class="form-control-static">@Model.Plazo</p>
            </div>

            @if (Model.IdCategoria == 1 || Model.IdCategoria == 3)
            {
                <div class="col-md-4 fv-row">
                    <label class="fs-6 fw-bold mb-2">% Retención</label>
                    <p class="form-control-static">@Model.PorcentajeRetencion</p>
                </div>
            }*@
        </div>
     @*   <ul class="nav nav-tabs nav-line-tabs mb-5 fs-6 fw-bold pt-8 mb-8">
            <li class="nav-item">
                <a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#tab_Documentos">
                    Datos Operación - Documentos
                </a>
            </li>
        </ul>*@
       @* <div id="tabContentDetalle" class="tab-content">
            <div id="tab_Documentos" class="tab-pane fade show active" role="tabpanel">
                <partial name="TabsDetalle/_SolicitudDocumentos" view-data="ViewData" />
            </div>
        </div>*@

        <ul class="nav nav-tabs nav-line-tabs mb-5 fs-6 fw-bold pt-8 mb-8">
            <li class="nav-item">
                <a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#tab_facturas">
                    Facturas
                </a>
            </li>
           @* <li class="nav-item">
                <a class="nav-link text-active-primary pb-4" data-bs-toggle="tab" href="#tab_cavali">
                    Cavali
                </a>
            </li>*@
        </ul>
        <div id="tabContentDetalle" class="tab-content">
            <div id="tab_facturas" class="tab-pane fade show active" role="tabpanel">
                <partial name="TabsDetalle/_Facturas" view-data="ViewData" />
            </div>
            @*<div id="tab_cavali" class="tab-pane fade show" role="tabpanel">
                <partial name="TabsDetalle/_Cavali" view-data="ViewData" />
            </div>*@
        </div>
    </div>
</div>
@*<div class="engage-toolbar d-flex position-fixed px-5 fw-bolder zindex-2 top-50 end-0 transform-90 mt-20 gap-2">
    <button id="kt_help_toggle" class="engage-help-toggle btn btn-flex h-35px bg-body btn-color-gray-700 btn-active-color-gray-900 shadow-sm px-5 rounded-top-0">Comentarios</button>
</div>*@
<div id="kt_help" class="bg-body drawer drawer-end" data-kt-drawer="true" data-kt-drawer-name="help" data-kt-drawer-activate="true" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'350px', 'md': '525px'}" data-kt-drawer-direction="end" data-kt-drawer-toggle="#kt_help_toggle" data-kt-drawer-close="#kt_help_close" style="width: 525px !important;">
    <div class="card shadow-none rounded-0 w-100">
        <div class="card-header" id="kt_help_header">
            <h5 class="card-title fw-bold text-gray-600">Listado de Comentarios</h5>
            <div class="card-toolbar">
                <button type="button" class="btn btn-sm btn-icon explore-btn-dismiss me-n5" id="kt_help_close">
                    <i class="las la-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body" id="kt_help_body">
            <div id="kt_help_scroll" class="hover-scroll-overlay-y" data-kt-scroll="true" data-kt-scroll-height="auto" data-kt-scroll-wrappers="#kt_help_body" data-kt-scroll-dependencies="#kt_help_header" data-kt-scroll-offset="5px" style="height: 247px;">
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/assets/plugins/datatables/datatables.bundle.js"></script>
    <script src="~/assets/js/registro-operacion.js"></script>
}